section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  max-width: 600px;
  width: 80vw;
  margin-bottom: 50px;
  padding-top: 0.75em;

  border: 1px #d4d7da solid;
  border-radius: 4px;

  font-size: 1rem;
}

.post > * {
  margin-bottom: 0.75em;
}

.post > *:not(.picture) {
  padding: 0 1.25em;
}

.post .info .name,
.post details,
.post .comments .comment,
.post .new-comment > * {
  font-size: 0.875em;
}

.post .info .location {
  font-size: 0.75em;
}

.post .info .name,
.post .comments .comment .author {
  font-weight: 600;
}

.post .info {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 0.75em;
}

.post .info img {
  width: 2em;
  height: 2em;

  grid-row-start: 1;
  grid-row-end: 3;

  border-radius: 50%;
}

.picture {
  width: 100%;
}

.actions {
  display: flex;
  align-items: center;
}

.actions .publish-time {
  flex: 1;

  color: #8a959e;
  font-size: 0.625em;
}

.actions .buttons button {
  margin-left: 0.75em;
}

.actions .unlike-button svg {
  fill: rgb(237, 73, 86);
}

.post details {
  cursor: pointer;
}

.post details summary {
  list-style: none;
}

.post details summary .more {
  cursor: pointer;
  color: #8a959e;
}

.post details[open] > summary {
  display: none;
}

.comments {
  padding-top: 0.75em;
  position: relative;
}

.comments::after {
  content: 'Комментарии';
  display: block;
  position: absolute;
  left: 1.1em;
  top: -0.6em;
  font-size: 0.75em;
  background: white;
  color: #8a959e;
  padding: 0 0.5em;
}

.comments .comment {
  margin-bottom: 0.75em;
}

.comments .comment .name {
  margin-right: 0.5em;
}

.new-comment {
  margin: 0;
  display: flex;
}

.new-comment > * {
  padding: 0.75em 0;
  border: none;
  font-size: 1em;
}

.new-comment input {
  flex: 1;
  margin-right: 0.5em;
  outline: none;
}

.new-comment button {
  background: none;
  cursor: pointer;
  color: #499fea;
  font-weight: 500;
  outline: none;
}

.new-comment button:hover,
.new-comment button:focus {
  font-weight: 600;
}

.comments,
.new-comment {
  border-top: 1px #d4d7da solid;
}
