section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form,
h1 {
  width: 800px;
}

h1 {
  text-align: center;
}

form {
  min-height: 500px;
  box-sizing: border-box;
}

form > * {
  margin: 32px 0;
}

.uploader select {
  margin-left: 24px;
}

.preview-image {
  width: 100%;
  display: block;
}

.post textarea,
.location input {
  display: block;

  width: 100%;
  margin-top: 8px;
  padding: 10px;

  box-sizing: border-box;
}

.post textarea {
  height: 100px;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
